<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="pss"
            id="com.github.psstools.eps.core.pss"
            name="PSS"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
     <server
        class="org.eclipse.corrosion.edit.RLSStreamConnectionProvider"
        id="org.eclipse.corrosion.rls"
        label="org.eclipse.corrosion.RLS"
        clientImpl="org.eclipse.corrosion.edit.RLSClientImplementation"
        serverInterface="org.eclipse.corrosion.edit.RLSServerInterface">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.corrosion.rust"
            id="org.eclipse.corrosion.rls">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.corrosion.manifest"
            id="org.eclipse.corrosion.rls">
      </contentTypeMapping>
   </extension>   

</plugin>
