<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.psstools.eclipse.pst.core.pss"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/pss.tmLanguage.json"
            scopeName="source.pss">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.psstools.eclipse.pst.core.pss"
            scopeName="source.pss">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.psstools.eclipse.pst.core.pss">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.psstools.eclipse.pst.core.pss"
            path="language-configuration.json">
      </languageConfiguration>
   </extension>
   
  <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            class="org.eclipse.lsp4e.outline.EditorToOutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension> 

</plugin>
